# ========== IDE Files ==========
.idea/
*.iml

# ========== Maven build files ==========
/target/

# ========== Logs ==========
*.log

# ========== OS files ==========
.DS_Store
Thumbs.db

# ========== IntelliJ workspace ==========
/*.iws
/workspace.xml
/shelf/

# ========== Environment/config files ==========

# ========== General Properties ==========
*.properties
